<!DOCTYPE html>
<html>
<head>
    <title>Shopping List</title>
</head>
<body>
<h1>Your Shopping List</h1>
<ul id="shopping_list">
    {% for item in shopping_list.items.all %}
        <li class="shopping_list_item">
            {{ item.name }} - {{ item.quantity }}
            <form method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" name="delete_item" value="{{ item.id }}">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
{# form to add item #}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Item</button>
</form>

</body>
</html>