{% extends 'base.html' %}

{% block title %}Shopping List{% endblock %}

{% block content %}
    <h1>Your Shopping List</h1>

    {# Shopping List Table #}
    <table id="shopping_list">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in shopping_list.items.all %}
                <tr>
                    <td>{{ item.item.name }}</td>
                    <td>
                        {# form to edit quantity of an item #}
                        <form method="POST" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="edit_quantity" value="{{ item.id }}">
                            <input type="number" name="new_quantity" value="{{ item.item.quantity }}" min="1" style="width:50px;" onchange="this.form.submit();">
                        </form>
                    </td>
                    <td>
                        {# form to remove an item from shopping list #}
                        <form method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" name="delete_item" value="{{ item.id }}">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <form method="POST">
                    {% csrf_token %}
                    <td>
                        {{ form.item }}
                    </td>
                    <td>
                        {{ form.quantity }}
                    </td>
                    <td>
                        <button type="submit">Add</button>
                    </td>
                </form>
            </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" style="text-align: center;">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" id="clear_list" name="clear_list" value="1" class="danger-button">Clear Shopping List</button>
                </form>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}